<!DOCTYPE html>
<html>
	<head>
		<title>Thumbnail</title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<input type="file" name="imageData"><br />
			<input type="submit" name="submit" value="upload">
		</form>
	</body>
</html>

