<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport"
	          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Too Many Requests</title>
	</head>
	<body>
		<h1>Too Many Requests</h1>
		<img src="/images/429.jpg" alt="Image not found">
		  <p>Spacy only allow 2 requests per second to this CoinFlip Game. Try again soon.</p>
	</body>
</html>